/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  

  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    min-height: 400px;
    background: #8792c5;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  .task-input{
      height: 30px;
      width: 250px;
      border-radius: 5px;
      border-style: groove;
  }
  .button-add{
      background-color: teal;
      height: 30px;
      width: 70px;
      margin-left: 20px;
  } */

  .app {
    padding: 30px;
    background-color: floralwhite;
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }